---
---

@import "minima";

/* Custom additions */
.language-notice {
  font-size: 0.9em;
  color: #666;
  padding: 0.6em 1em;
  margin: 0.8em 0 1.2em 0;
  border-left: 3px solid #ddd;
  line-height: 1.5;
}
